[submodule "deno_third_party"]
	path = third_party
	url = https://gitee.com/dadigua/deno_third_party.git
[submodule "typescript"]
	path = deno_typescript/typescript
	url = https://github.com/microsoft/TypeScript.git
	fetchRecurseSubmodules = false
	shallow = true
